.profile-about-picture {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  border: 0.5rem solid #fff;
  margin-top: 15rem;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/profile-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-about-header {
  font-size: 5rem;
  line-height: 10rem;
  text-align: center;
  color: aliceblue;
  font-style: italic;
}

.profile-about-text {
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  color: aliceblue;
  font-style: italic;
}

.profile-about-main {
  display: flex;
  flex-direction: column;
}
