.menu-sidebar {
  background-color: black;
  width: 10%;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-site-logo {
  background-image: url("../../images/logo-main.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40%;
  width: 40%;
  margin-top: 3rem;
}

.menu-item-main,
.settings-menu {
  color: #ddd;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transition: background-color 0.5s, color 0.5s;
}

.menu-item-circle,
.menu-item-circle-selected {
  border: 2px solid transparent;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item-circle-selected {
  border: 2px solid goldenrod;
}

.menu-item-circle:hover {
  background-color: #eee;
  color: #000;
  transition: background-color 0.5s, color 0.5s;
}

.settings-menu {
  flex: 1;
  align-items: flex-end;
  padding: 50% 0;
  font-size: 3rem;
  transition: color 0.5s;
}

.settings-menu-selected {
  color: goldenrod;
  transition: color 0.5s;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
